html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #088bb7 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }
}

.mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(
    var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
  );
  display: flex;
  flex-wrap: wrap;

  width: var(--total-size);
  height: var(--total-size);
}
.mosaic-loader > .cell {
  --cell-color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
  --cell-color: #d4aee0;
}
.mosaic-loader > .cell:nth-child(2) {
  --cell-color: #8975b4;
}
.mosaic-loader > .cell:nth-child(3) {
  --cell-color: #64518a;
}
.mosaic-loader > .cell:nth-child(4) {
  --cell-color: #565190;
}
.mosaic-loader > .cell:nth-child(5) {
  --cell-color: #44abac;
}
.mosaic-loader > .cell:nth-child(6) {
  --cell-color: #2ca7d8;
}
.mosaic-loader > .cell:nth-child(7) {
  --cell-color: #1482ce;
}
.mosaic-loader > .cell:nth-child(8) {
  --cell-color: #05597c;
}
.mosaic-loader > .cell:nth-child(9) {
  --cell-color: #b2dd57;
}
.mosaic-loader > .cell:nth-child(10) {
  --cell-color: #57c443;
}
.mosaic-loader > .cell:nth-child(11) {
  --cell-color: #05b853;
}
.mosaic-loader > .cell:nth-child(12) {
  --cell-color: #19962e;
}
.mosaic-loader > .cell:nth-child(13) {
  --cell-color: #fdc82e;
}
.mosaic-loader > .cell:nth-child(14) {
  --cell-color: #fd9c2e;
}
.mosaic-loader > .cell:nth-child(15) {
  --cell-color: #d5385a;
}
.mosaic-loader > .cell:nth-child(16) {
  --cell-color: #911750;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
